.event {
  padding: 130px 30px;
  max-width: 1000px;
  margin: auto;
}

.event__title {
  font-size: 330%;
  margin: 20px 0;
}

.event__date {
  font-size: 200%;
  font-weight: 400;
  color: #696969;
  margin: 10px 0 30px 0px;
  text-align: center;
}

.event__img {
  margin-bottom: 40px;
}

.event__img img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  display: block;
  width: 100%;
}

.event__body {
  display: -webkit-box;
  display: flex;
}

.event__content {
  margin-right: 20px;
}

.event__content p {
  text-align: justify;
}

.event__sidebar {
  flex-shrink: 0;
  width: 263px;
}

.event__btn {
  margin-bottom: 20px;
}

.event__btn.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.event__btn.event__btn--grey {
  border-color: #a4a4a4;
}

.event__btn.event__btn--grey:hover {
  background-color: #a4a4a4;
}

.event__btn:last-child {
  margin-bottom: 40px;
}

.event-info__author {
  margin-bottom: 40px;
}

.event-info__row {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
}

.event-info__title {
  font-size: 16px;
  margin-right: 15px;
}

.event-info__desc {
  font-size: 18px;
  font-weight: bold;
}

.event-info__item {
  font-size: 22px;
  display: block;
  padding-left: 65px;
  color: inherit;
  text-decoration: none;
  position: relative;
}

.event-info__item::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.event-info__item--time::after {
  background-image: url(../images/time-ico.png);
}

.event-info__item--place::after {
  background-image: url(../images/address-ico.png);
}

.event-info__item--views::after {
  background-image: url(../images/views-ico.png);
}

.event-info__item--print::after {
  background-image: url(../images/print-ico.png);
}

@media (max-width: 768px) {
  .event__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .event__sidebar {
    width: auto;
    margin-top: 60px;
  }

  .event__content {
    margin-right: 0;
  }
}