.header {
  background: #ff5c4b;
}

.event__title h1 {
  text-align: center;
  font-size: 300%;
  line-height: 1em;
  margin: 20px 0px;
  font-family: 'Xenia';
  font-weight: normal;
  text-transform: uppercase;
}

.event__btn.btn {
  font-size: 80%;
  border-width: 2px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 0 25px;
}

.event-info__title {
  font-weight: 300;
  font-size: 70%;
  display: inline-block;
  color: #696969;
  width: 48px;
}

.event-info__row:first-child {
  margin: 0;
}

.event-info__row {
  margin: 20px 0;
}

.event-info__item.event-info__item--print {
  margin-top: 20px;
}

.event-info__desc {
  font-weight: 400;
  font-size: inherit;
}

.event-info__item.event-info__item--time {
  font-weight: 300;
  font-size: 70%;
}

.event-info__item {
  font-size: inherit;
  line-height: 24px;
}

.soc.grey a {
  background-image: url(../../public/images/soc-grey.png);
}

.modal-reviews .inner {
  width: 70%;
}

.popup-form form {
  padding: 0 35px;
}

.page_left,
.page_right {
  width: 50%;
  display: inline-block;
  margin: 0 -2px;
  padding: 0 2px;
  box-sizing: border-box;
}

.page__input {
  width: 100% !important;
}

.modal-reviews .testimonials__slider .slick-arrow {
  background: url("../../public/images/arrs.png");
  top: -30%;
  display: block !important;
}

@media screen and (max-width: 1500px) {
  .modal-reviews .inner {
    width: 70%;
  }
}

@media (max-width: 1023px) {
  .event__title h1 {
    font-size: 135%;
  }

  .event__date {
    font-size: 120%;
  }
}

@media (max-width: 770px) {
  .event__title h1 {
    font-size: 110%;
  }

  .event__date {
    font-size: 110%;
  }

  .row.text,
  .row.text.page_left,
  .row.text.page_right {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .popup-form form {
    width: auto;
    padding: 0 50px;
  }

  .popup-form .text input,
  .popup-form textarea,
  .popup-form .submit input {
    width: 100%;
  }

  .popup-form .row.page_left input,
  .popup-form .row.right input {
    width: 100%;
  }

  .popup-form .title.big {
    font-size: 100%;
  }

  .popup-form .close {
    background-size: 70%;
  }

  .modal-reviews .testimonials__title.title {
    font-size: 150%;
  }
}

@media (max-width: 768px) {
  .modal-reviews .testimonials__slider .slick-arrow.slick-prev,
  .modal-reviews .testimonials__slider .slick-arrow.slick-next {
    width: 20px;
    top: -45%;
  }

  .modal-reviews .testimonials__slider .slick-arrow.slick-prev {
    left: 0px;
  }

  .modal-reviews .testimonials__slider .slick-arrow.slick-next {
    right: 0;
  }
}

@media screen and (max-width: 564px) {
  .modal-reviews .testimonials__slider .slick-arrow.slick-prev,
  .modal-reviews .testimonials__slider .slick-arrow.slick-next {
    top: -25%;
  }

  .modal-reviews .testimonials__title.title {
    font-size: 100%;
  }

  .popup-form .close {
    right: 10px;
    top: 44px;
    background-size: 50%;
  }

  .popup-form .title.big {
    padding-top: 80px;
  }

  .popup-form .descr {
    margin-bottom: 0px;
    font-size: 100%;
  }

  .modal-reviews .reviews-list {
    padding: 95px 0 0 0;
  }

  .event__title h1 {
    font-size: 90%;
  }

  .event__date {
    font-size: 100%;
  }
}

@media (max-width: 420px) {
  .event__title h1 {
    font-size: 80%;
  }

  .event__date {
    font-size: 110%;
  }

  .modal-reviews .inner {
    width: 90%;
  }

  .modal-reviews .reviews-list {
    padding-bottom: 0;
  }

  .modal-reviews .slick-track {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }

  .popup-form .title {
    margin: 0;
  }

  .reviews-list {
    padding: 115px 0;
  }

  .reviews-list h2 {
    font-size: 200%;
  }

  .testimonials__slider {
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    padding-top: 50px;
  }

  .modal-reviews {
    display: none;
  }

  .modal_open {
    display: -webkit-box;
    display: flex;
  }
}
