@font-face {
  font-family: 'Xenia';
  src: url("../../public/fonts/xenia-extended-cyrillic.eot");
  src: url("../../public/fonts/xenia-extended-cyrillic.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/xenia-extended-cyrillic.woff2") format("woff2"), url("../../public/fonts/xenia-extended-cyrillic.woff") format("woff"), url("../../public/fonts/xenia-extended-cyrillic.ttf") format("truetype"), url("../../public/fonts/xenia-extended-cyrillic.svg#xenia_extendedcyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'XeniaBoldCyrillic';
  src: url("../../public/fonts/XeniaBoldCyrillic.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/XeniaBoldCyrillic.woff") format("woff"), url("../../public/fonts/XeniaBoldCyrillic.ttf") format("truetype"), url("../../public/fonts/XeniaBoldCyrillic.svg#XeniaBoldCyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
}
