.header__right {
  box-sizing: border-box;
  font-size: 65%;
  line-height: 2em;
}

.header__mid {
  font-size: 80%;
  line-height: 160%;
}

.header__nav {
  -webkit-box-align: center;
          align-items: center;
  height: 62px;
}

.header-option {
  font-size: inherit;
}

.header.sticky {
  padding-top: 12px;
}

.hero__inner--main {
  font-size: 135%;
  line-height: 1em;
  letter-spacing: 2px;
}

.hero__inner--main .white,
.hero__inner--main .red {
  line-height: 150%;
}

.hero__inner--main .title {
  line-height: 1.2em;
  letter-spacing: 0;
}

.logo {
  width: 243px;
  min-width: 186px;
  height: 100%;
  min-height: 65px;
}

.section-title__title {
  font-size: inherit;
  margin-bottom: 0;
}

.section-title__title h2 {
  font-size: 450%;
  line-height: 110%;
  margin: 0 0 20px;
}

.main-grid-item .title {
  font-size: 180%;
  line-height: 110%;
  flex-basis: 50%;
  display: -webkit-box;
  display: flex;
}

.main-grid-item--center .main-grid-item__front .title {
  font-size: 200%;
  font-weight: 400;
  text-align: left;
  line-height: 150%;
  width: 100%;
  flex-basis: 100%;
}

.main-grid-item--center {
  padding: 0 3%;
}

.customers__title {
  font-size: 150%;
}

.section-title--transparent .section-title__desc {
  font-weight: bold;
}

.section-title .page__btn {
  display: inline-block;
  text-decoration: none;
  font-size: 80%;
  line-height: 2em;
  color: inherit;
  padding: 0 25px;
  border: 1px solid #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.section-title .page__btn:hover {
  background: #fff;
  color: #000;
}

.articles__title {
  font-size: 350%;
  line-height: 110%;
}

.slick-initialized .slick-slide {
  padding: 0 5px;
}

.articles-slide__title {
  font-size: 140%;
  line-height: 120%;
  font-weight: 400;
  margin: 30px 0 20px;
}

.articles-slide__desc {
  line-height: 130%;
}

.articles-slide__btn {
  font-size: 80%;
  line-height: 2em;
  left: 35%;
}

.footer__title.title {
  font-size: 1.17em;
}

.footer__bot {
  font-size: 80%;
}

/*
*Start @media max-width: 1600px 
*/

/*
*End @media max-width: 1600px 
*/

/*
*Start @media max-width: 1440px 
*/

/*
*End @media max-width: 1440px 
*/

/*
*Start @media max-width: 1280px 
*/

/*
*End @media max-width: 1280px 
*/

/*
*Start @media max-width: 1200px 
*/

/*
*End @media max-width: 1200px 
*/

/*
*Start @media max-width: 1023px 
*/

/*
*End @media max-width: 1023px 
*/

/*
*Start @media max-width: 1000px 
*/

/*
*End @media max-width: 1000px 
*/

/*
*Start @media max-width: 940px 
*/

/*
*End @media max-width: 940px 
*/

/*
*Start @media max-width: 800px 
*/

/*
*End @media max-width: 800px 
*/

/*
*Start @media max-width: 567px 
*/

/*
*End @media max-width: 567px 
*/

/*
*Start @media max-width: 500px 
*/

/*
*End @media max-width: 500px 
*/

/*
*Start @media max-width: 374px 
*/

/*
*End @media max-width: 374px 
*/

@media (min-width: 1280px) {
  body {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 1440px) {
  /* .header__nav {
      font-size: 14px; 
    } */

  .header-option {
    font-size: inherit;
  }
}

@media (max-width: 1200px) {
  .main-grid-item .title {
    width: 50%;
  }
}

@media (max-width: 1023px) {
  .main-grid-item--center .main-grid-item__front .title {
    font-size: 170%;
  }
}

@media (max-width: 1000px) {
  .hero__inner--main .white {
    line-height: 1.1;
    font-size: 22px;
    padding: 0 20px;
  }
}

@media (max-width: 940px) {
  .main-grid-item .title {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .hero__inner--main .title {
    font-size: 250%;
    width: 70%;
  }

  .logo {
    width: 185px;
    min-height: 50px;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .section-title__title h2 {
    font-size: 350%;
  }

  .main-grid-item--center .main-grid-item__front .title {
    font-size: 165%;
  }

  .main-grid-item .title {
    font-size: 140%;
    width: 40%;
  }

  .main-grid-item--center .main-grid-item__front .title {
    text-align: center;
  }

  .section-info-agency .section-title__title h2 {
    font-size: 150%;
    margin: 0 0 30px;
  }

  .articles {
    padding-bottom: 100px;
  }

  .articles__title {
    font-size: 250%;
  }

  .articles-slide__title {
    margin: 5px 0 20px;
  }

  .articles-slider .articles-slide {
    padding-bottom: 70px;
  }

  .articles-slide__btn {
    left: 50%;
    bottom: -35px;
  }

  .main-grid-item {
    width: 50%;
    height: 250px;
  }

  .main-grid-item--x2height {
    height: 250px;
  }
}

@media (max-width: 567px) {
  .main-grid-item {
    width: 100%;
    height: 200px;
  }

  .main-grid-item--center .main-grid-item__front .title {
    font-size: 140%;
  }

  .section-title__title h2 {
    font-size: 250%;
  }
}

@media (max-width: 500px) {
  .hero__inner--main {
    font-size: 110%;
  }

  .hero__inner--main .white {
    line-height: 1;
    font-size: 15px;
  }

  .hero__inner--main .title {
    font-size: 200%;
    line-height: 1.2em;
    width: auto;
  }

  .section-title__title h2 {
    font-size: 250%;
  }

  .section-title__desc {
    font-size: 16px;
  }

  .main-grid-item--center .main-grid-item__front .title {
    font-size: 140%;
  }

  .main-grid-item {
    height: 200px;
  }

  .customers__title {
    font-family: 'Roboto';
  }

  .articles__title {
    font-size: 150%;
  }
}

@media (max-width: 374px) {
  .hero__inner--main {
    font-size: 100%;
  }
}
