@charset "UTF-8";

/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #66AFE9;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
button {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

input {
  cursor: text;
}

input:focus {
  outline: none;
}

.ui.action.input input[type="file"] {
  display: none;
}

.btn-upload .ui.action.input:not([class*="left action"]) > input {
  height: 40px;
}

.btn-upload .fileUpload {
  margin: 0 !important;
}

.ui.attached.segment {
  border: none;
}

.ui.input,
.ui.input.focus {
  width: 100%;
}

.ui.blue.button {
  margin-top: 15px;
}

textarea.ui.segment {
  width: 100%;
  min-height: 160px;
}

.draggable-table {
  position: relative;
}

.draggable-table__drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  position: absolute;
  width: 100%;
  text-indent: 50px;
  border: 1px solid #f1f1f1;
  z-index: 10;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  opacity: 1;
}

.draggable-table tbody tr {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.draggable-table tbody tr.is-dragging {
  background: #E9F3FF;
}

.note {
  cursor: default;
  width: 100%;
  background: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 0px 0px #c9cfd4;
  text-align: left;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #526a7a;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.note:hover {
  background-color: #e3f2fd;
  cursor: pointer;
}

.note:focus {
  cursor: auto;
}

.note textarea {
  margin: 0;
}

.note.dragged {
  opacity: 0.01;
}

.column.dragged {
  opacity: 0.4;
}

.action {
  cursor: pointer;
}

.column.under {
  margin-top: 20px;
}

.note.under {
  opacity: 0.5;
}

.ui.header,
h1,
h2,
h3,
h4,
h5,
.ui.menu,
.ui.button {
  font-family: 'Roboto', Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.ui.blue.button,
.ui.blue.buttons .button {
  background-color: #66AFE9;
}

.ui.header.page__icon_question,
.ui.positive.page__icon_info-positive,
.ui.header.page__icon_mark-positive {
  position: relative;
  display: inline-block;
}

.ui.positive.page__icon_info-positive {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.ui.positive.page__icon_info-positive {
  padding-left: 50px;
}

.ui.table > thead > tr > th,
.ui.table > tbody > tr > td,
.ui.table > tr > td {
  text-align: center;
}

td[data-label="Action"] {
  padding: 0 !important;
}

td[data-label="Action"] .page__icon:nth-child(2) {
  margin: 0 5px;
}

.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=file]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus {
  border-color: #66AFE9;
}

.ui.calendar {
  width: 200px;
}

.ui.celled.table > tbody > tr > td,
.ui.celled.table > tbody > tr > th,
.ui.celled.table > tfoot > tr > td,
.ui.celled.table > tfoot > tr > th,
.ui.celled.table > thead > tr > th,
.ui.celled.table > tr > td,
.ui.celled.table > tr > th {
  font-size: 16px;
}

.ui.table tbody tr:hover {
  background-color: #E9F3FF;
}

.ui.tabular.menu .item {
  font-weight: normal !important;
  font-size: 18px;
  line-height: 22px;
}

.ui.menu .item {
  font-size: 16px;
  line-height: 16px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item .menu .item {
  font-size: 14px;
  line-height: 16px;
}

.ui.input > input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.ui.input > input::-moz-placeholder {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.ui.input > input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.ui.input > input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.ui.input > input::placeholder {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.page {
  max-width: 900px;
  margin-left: 250px;
  padding-left: 50px;
  padding-top: 15px;
}

.page__icon {
  display: inline-block;
  border: none;
  background-color: transparent;
}

.page__icon_pen {
  background-image: url(../assets/icons/sprite.png);
  background-position: 0px -31px;
  width: 19px;
  height: 19px;
}

.page__icon_eye {
  background-image: url(../assets/icons/sprite.png);
  background-position: -30px 0px;
  width: 24px;
  height: 17px;
}

.page__icon_basket {
  background-image: url(../assets/icons/sprite.png);
  background-position: 0px -60px;
  width: 15px;
  height: 19px;
}

.page__icon_nolink {
  background-image: url(../assets/icons/sprite.png);
  background-position: -29px -31px;
  width: 20px;
  height: 18px;
}

.page__icon_question::before {
  content: '';
  cursor: pointer;
  position: absolute;
  right: -20px;
  background-image: url(../assets/icons/sprite.png);
  background-position: -64px 0px;
  width: 16px;
  height: 22px;
}

.page__icon_info-positive {
  background: #F8FFF3 !important;
  border-color: #CBEAA2;
  border-radius: 4px !important;
}

.page__icon_info-positive::before {
  content: '';
  cursor: pointer;
  position: absolute;
  left: 17px;
  top: auto;
  background-image: url(../assets/icons/sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 21px;
}

.page__icon_mark-positive::after {
  content: '';
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: -20px;
  background-image: url(../assets/icons/sprite.png);
  background-position: -64px -32px;
  width: 13px;
  height: 16px;
}

.page-block-titleInputText,
.page-block-titleAreaText,
.page-block-titleBtnText,
.page-block-titleBtnAddText {
  margin-bottom: 30px;
}

.page-block-titleInputText .ui.header,
.page-block-titleAreaText .ui.header,
.page-block-titleBtnText .ui.header,
.page-block-titleBtnAddText .ui.header {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
}

.page-block-titleInputText .sub.header,
.page-block-titleAreaText .sub.header,
.page-block-titleBtnText .sub.header,
.page-block-titleBtnAddText .sub.header {
  color: #C4C4C4;
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
}

.page-block-titleBtnText .page__img {
  padding-bottom: 10px;
}

.page-block-titleBtnText .ui.action.input {
  max-width: 450px;
  display: -webkit-box;
  display: flex;
}

.page-block-titleBtnText__btns {
  display: -webkit-box;
  display: flex;
}

.page-block-titleBtnText__btns .ui.action.input {
  margin-right: 16px;
}

.page-block-titleBtnText__btns .ui.basic.floating.dropdown.button {
  min-width: 166px;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.page-block-titleBtnAddText .ui.input {
  max-width: 400px;
  display: -webkit-box;
  display: flex;
  margin-bottom: 8px;
}

.page-block-titleBtnAddText .ui.input input {
  margin-right: 8px;
}

.page-block-titleBtnAddText .ui.button {
  margin: 0;
  padding: 12px 18px;
  font-size: 16px;
}

.page-block-select .ui.basic.floating.dropdown.button {
  width: 330px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.page-block-select_2 {
  display: -webkit-box;
  display: flex;
}

.page-block-select_2 .ui.basic.floating.dropdown.button:first-child {
  width: 220px;
}

.page-block-select .ui.basic.floating.dropdown.button {
  margin-bottom: 15px;
}

.page-block-input input:first-child {
  margin-right: 16px;
}

.page_version {
  position: absolute;
  bottom: 0;
  color: #656565;
  font-size: 12px;
  line-height: 24px;
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.header__top,
.header__sub {
  padding-left: 50px !important;
}

.header__sub {
  background: #E9F3FF;
}

.header__sub h1.ui.header {
  text-transform: uppercase;
  margin-top: 16px;
  font-size: 24px;
}

.header__sub .sub.header {
  color: #656565;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding-top: 5px;
}

.header_admin {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #656565;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 30px;
}

.header_admin::before,
.header_admin::after {
  content: "";
  width: 16px;
  height: 16px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: flex-end;
}

.header_admin::before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADgSURBVHgBjVMBEcIwDAxTgAMqYRLqAHCAk+JgdbA5AAeAgoGC4WA4gJT73qVpt2vu/m5J85/PriXKwzI8Y2J8gZHRMwytxJbRCdISOvRm5LGCLB0lInrypUKwi2SjDibUalzZIDCIwsxo1XonSn+ohN9gSiC9GUfGk8rRCmcfhsP3X+laaNZhVD4EboNkFgcHuDqLmsMaeyVCDazLiWGFO6WrPODyJWq72OOxhqH6MOD0IbEyqYxBD40uXAXZodfLorw0S4/GiMnZVY4i0UnADWI9pTfSl8ilSZI0gWh18w/bkW528HhPjQAAAABJRU5ErkJggg==');
}

.header_admin::after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEYSURBVHgBnVPBUcMwENwTLsAfyMArdEAJTgdoaAAecfhBKsCpAHjiYYYKMoIK4hLoAF5kMA/yB+44GZghBMuj7MfynHa1eyfR6K4+YUZBkBSxYBlT7p5FQAsD3EdxgT09FIn/8eQruzWIERi5eiZAZkKbjt08QwdaBfLp0ynDzHL3coaQgDAfycfb5UrB0K1+HjVtERIhBKAR+t6FLvsqWZR2c/JT++qBZIlO4aFNQDutfabUd/vbCX6LNE4RA+YVx0lpe7vojpCqnUl50Cv+7jHD6fzwv3Et5W8hNw7ImBvNWem6WnIL2e8iNw7aCqXduWDwIEQOCnhc2+0KHaChq1/9mAi0zmNKE8K7znXj3F8KRIEWekvGn5JKdNVMGQCKAAAAAElFTkSuQmCC');
}

.article {
  margin-left: 250px;
  padding-top: 24px;
}

.article .header_back {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  color: #66AFE9;
}

.header__title {
  font-weight: 700 !important;
  margin-bottom: 15px !important;
  font-size: 20px !important;
  line-height: 22px !important;
}

.header__subheader {
  color: #c4c4c4;
}

.header__subtitle {
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 0;
}

.banner {
  background-image: url(../assets/img/banner-bg.png);
  height: 1024px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar .ui.vertical.menu > .item:first-child {
  padding: 0;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar {
  width: 250px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar::-webkit-scrollbar-thumb {
  background-color: #656565;
  border-radius: 50px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar::-webkit-scrollbar-track-piece {
  background-color: #1B1C1D;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .sidebar__logo {
  text-align: center;
  padding: 13px 0px 11px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .sidebar__logo img {
  cursor: pointer;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar > .item {
  padding: 0;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item .subtitle {
  padding-top: 10px;
  padding-left: 24px;
  padding-bottom: 7px;
  color: #373737;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item > .item {
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 5px;
  padding: 5px 5px 5px 0;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item > .item:first-child {
  padding-top: 7px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item > .item:last-child {
  padding-bottom: 7px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item .item {
  padding-left: 24px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item .item:before {
  display: none;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item .menu {
  margin: 0;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item .menu .item {
  padding: 7px 32px;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar .item.active {
  color: #66AFE9 !important;
}

.sidebar .ui.sidebar.inverted.vertical.menu.ui.visible.sidebar a {
  padding-left: 24px;
}

.richText {
  height: 250px;
  overflow: hidden;
}

.richText .richText-editor {
  height: auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.richText .richText-toolbar:last-child {
  display: none;
}

.richText .richText-btn {
  color: #000;
}

.richText .richText-toolbar ul {
  display: -webkit-box;
  display: flex;
  overflow: scroll;
}

.richText .richText-toolbar ul::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

.richText .richText-toolbar ul::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.richText .richText-toolbar ul::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.auth {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  background-image: url(../assets/img/auth-bg.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.auth__logo {
  margin-bottom: 15px;
}

.auth .ui.grid {
  margin: 0;
}

.auth .ui.large.form {
  width: 320px !important;
}

.auth .ui.large.form .ui.stacked.segment {
  padding: 50px 35px 6px;
}

.auth .ui.large.form .ui.stacked.segment::before,
.auth .ui.large.form .ui.stacked.segment::after {
  display: none;
}

.auth .ui.large.form .ui.stacked.segment h2.ui.header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #656565;
  margin-bottom: 40px;
}

.auth .ui.large.form .ui.stacked.segment .field {
  margin: 0;
}

.auth .ui.large.form .ui.stacked.segment .field input {
  border-radius: 0 !important;
  margin-bottom: 20px;
  text-align: center;
}

.auth .ui.large.form .ui.stacked.segment .field .ui.button {
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 21px;
}

@media screen and (max-width: 920px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
