/* CGWS96-1 */

#clients .brands .item > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-bottom: 2%;
  margin-right: 2%;
  padding-top: 20%;
  width: 30%;
}

.middle-row {
  display: table-row;
}

.content .red-slide {
  background: #ff5c4b none repeat scroll 0 0;
  display: table;
  height: 100vh;
  padding: 50px 0 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.reviews-list h2 + div i {
  display: inline-block;
  font-family: "Xenia";
  font-size: 170px;
  font-style: normal;
  line-height: 135px;
  margin-left: 0px;
  margin-bottom: 70px;
  max-height: 52px;
  opacity: 0.1;
  vertical-align: top;
}

.reviews-list h2 {
  font-size: 300%;
  padding: 0 0 60px;
  position: relative;
}

#promotions .hide,
#services .hide {
  display: inline-block;
}

.pichd {
  overflow: hidden;
}

.content .team-list .item .pichd img {
  height: 289px;
  -webkit-transform: translateY(-289px);
      -ms-transform: translateY(-289px);
          transform: translateY(-289px);
  /*transition: all 0.2s ease 0.3s;*/
}

.content .team-list .item:hover .pichd img {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.content .team-list .item .pic:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ff5c4b;
  opacity: .5;
  content: '';
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.room__picker * {
  box-sizing: border-box;
  line-height: 1;
}

span.room__picker {
  display: inline-block;
  text-align: left;
}

span.room__picker .room__input {
  color: #333333;
}

.content .services-slide .cards {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-align: center;
}

.content .services-slide .cards .col {
  font-size: 22px;
  height: 412px;
  line-height: 16px;
  float: none;
  display: inline-block;
}

/***************************************************/

.slider-inter {
  padding-top: 5px;
  padding-bottom: 40px;
  /*float: left;*/
  width: 100%;
  margin: 0 auto;
  background-color: #ff5d4c;
}

.one-slider-top {
  float: left;
  width: 16.66%;
  text-align: center;
  min-height: 135px;
}

.one-slider-top span {
  position: relative;
  background-image: url(../../public/images/slider-top-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 84px;
  line-height: 13px;
  padding-top: 102px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.2;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  width: 84px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.one-slider-top span:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 94px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.one-slider-top span.ic-1:before {
  background-image: url(../../public/images/ico-1.png);
}

.one-slider-top span.ic-2:before {
  background-image: url(../../public/images/ico-2.png);
}

.one-slider-top span.ic-3:before {
  background-image: url(../../public/images/ico-3.png);
}

.one-slider-top span.ic-4:before {
  background-image: url(../../public/images/ico-4.png);
}

.one-slider-top span.ic-5:before {
  background-image: url(../../public/images/ico-5.png);
}

.one-slider-top span.ic-6:before {
  background-image: url(../../public/images/ico-6.png);
}

.one-slider-top.active span,
.one-slider-top.was-active span {
  opacity: 1;
}

.slider-bot {
  margin-left: auto;
  margin-right: auto;
  width: 76%;
}

.slider-top {
  margin-left: auto;
  margin-right: auto;
  width: 76%;
}

.one-slide-b {
  float: left;
  padding-top: 3px;
  position: relative;
  width: 16.66%;
}

.one-slide-b:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 50%;
  background-color: #ffaea6;
  top: 40%;
}

.one-slide-b:last-child:after {
  content: normal;
}

.one-slide-b.was-active:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 50%;
  background-color: #fff;
  top: 40%;
}

.one-slide-b:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.one-slide-b.rem-a:before {
  content: normal;
}

.one-slide-b a.active span {
  background-color: #ffaea6;
  border: 2px solid rgba(255, 255, 255, 0);
}

.one-slide-b a {
  cursor: pointer;
}

.one-slider-bot {
  padding: 5px 0 8px;
  float: left;
  width: 100%;
  text-align: center;
}

.one-slider-bot span {
  z-index: 9;
  display: inline-block;
  position: relative;
  width: 55px;
  height: 55px;
  border: 2px solid rgba(255, 255, 225, 0.5);
  background-color: #ff5d4c;
  border-radius: 10px;
}

.one-slide-b.was-active span {
  border: 2px solid #ffffe1;
}

.one-slide-b.was-active span:before {
  content: "";
  display: block;
  position: absolute;
  right: -11px;
  top: -8px;
  background-image: url(../../public/images/gal.png);
  background-repeat: no-repeat;
  width: 55px;
  height: 46px;
}

.one-big-slider {
  text-align: center;
}

.one-big-slider img {
  max-width: 100%;
  height: auto;
}

.one-big-slider-tit {
  text-transform: uppercase;
  font-family: 'XeniaBoldCyrillic';
  font-size: 50px;
  /*margin-bottom: 20px;*/
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  line-height: 1;
}

.big-wrap {
  max-width: 82%;
  width: 100%;
  margin: 0 auto;
}

.big-wrap-in {
  display: inline-block;
  width: 100%;
}

.bx-controls-direction.hide-link:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 60px;
  height: 100%;
}

.bx-controls-direction.hide-link:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99;
  width: 60px;
  height: 100%;
}

.mid-now .row {
  font-size: 0;
  text-align: center;
}

.mid-now .row .col {
  font-size: 18px;
  float: none;
  display: inline-block;
  vertical-align: top;
}

.content p.subscribe-slide__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: none;
  color: white;
  max-width: 984px;
}

.content .video-slide .text-block .service-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

.content .video-slide .text-block .service-form .item {
  float: none;
}

@media (max-width: 1500px) {
  .content .video-slide .text-block .big#popup-order-name {
    margin-top: 50px;
  }

  .text-block.no-borders.roboto {
    padding-top: 50px;
  }

  .content .video-slide .text-block .big {
    /*
	CGW-106-2
	*/
    font-size: 90%;
  }

  .content .video-slide .text-block .service-form {
    margin-top: 35px;
  }

  .content .video-slide .text-block .service-form .item {
    padding: 12px 0;
  }
}

@media (max-width: 1500px) and (max-width: 1400px) {
  .one-slider-top {
    min-height: 95px;
  }
}

@media (max-width: 1100px) {
  .big-wrap-in {
    padding: 0 50px;
  }

  .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -40px;
  }

  .bx-wrapper .bx-controls-direction a.bx-next {
    right: -40px;
  }
}

@media (max-width: 1024px) {
  .content p.subscribe-slide__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: none;
    color: white;
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .one-big-slider-tit {
    font-size: 40px;
  }
}
