
.event {
	padding: 130px 30px;
    max-width: 1000px;
    margin: auto;
}
.event__inner {
}
.event__title {
	font-size: 330%;
	margin: 20px 0;
}
.event__date{
	font-size: 200%;
    font-weight: 400;
    color: #696969;
    margin: 10px 0 30px 0px;
    text-align: center;
}
.event__img {
	// width: 100%;
	img{
		object-fit: contain;
		margin: auto;
		display: block;
		width: 100%;
	}
	margin-bottom: 40px;
}
.event__body {
	display: flex;
}
.event__content {
	p{
		text-align: justify;
	}
	margin-right: 20px;
}
.event__sidebar {
	flex-shrink: 0;
	width: 263px;

}
.event__btns {
}
.event__btn{
	margin-bottom: 20px;
	&.btn{
		display: block;
		width: 100%;
		text-align: center;
		padding: 10px;
	}

	&.event__btn--grey{
		border-color: #a4a4a4;
		&:hover{
			background-color: #a4a4a4;
		}
	}

	&:last-child{
		margin-bottom: 40px;
	}
}

.event__info {
}
.event-info {
}
.event-info__author{
	margin-bottom: 40px;
}

.event-info__row {
	display: flex;
	margin-bottom: 20px;
}
.event-info__title {
	font-size: 16px;
	margin-right: 15px;
}
.event-info__desc {
	font-size: 18px;
	font-weight: bold;
}
.event-info__item {
	font-size: 22px;
	display: block;
    padding-left: 65px;
    color: inherit;
    // margin: 20px 0;
	text-decoration: none;
	
	position: relative; 
	&::after{
		position: absolute;
		content: '';
		width: 40px;
		height: 40px;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		
	}
}
.event-info__item--time {
	&::after{
		background-image: url(../images/time-ico.png);
	}
}
.event-info__item--place {
	&::after{
		background-image: url(../images/address-ico.png);
	}
}
.event-info__item--views {
	&::after{
		background-image: url(../images/views-ico.png);
	}
}
.event-info__item--print {
	&::after{
		background-image: url(../images/print-ico.png);
	}
}

@media(max-width: 1920px){
    
}

@media(max-width: 1440px){
    
}

@media(max-width: 1200px){
    
}

@media(max-width: 1024px){
    
}

@media(max-width: 768px){
    .event__body{
		flex-direction: column;
	}

	.event__sidebar{
		width: auto;
		margin-top: 60px;
	}
	.event__content{
		margin-right: 0;
	}
}