.infograhics {
	background-color: white;
}
.infograhics__inner {
	text-align: center;
    padding: 30px 5px;
    overflow: hidden;
    position: relative;
}
.clearfix {
}
.infograhics__item {
}
.infograhics-item {
	float: left;
	padding: 5px;
    height: 250px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
	width: 25%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
	
	&:hover{
		background: #ffffff;
		box-shadow: 5px 5px 15px #444444;
		transform: scale(1.1);
		z-index: 1000;
		box-sizing: border-box;

	}
	
	
	

	&--wx2{
		width: 50%;
	}

	&--hx2{
		height: 500px;

		&.infograhics-item--top-shift{
			margin-top: -250px;
		}
	}
}

.infograhics-item:nth-child(1):hover,
.infograhics-item:nth-child(4):hover,
.infograhics-item:nth-child(12):hover,
.infograhics-item:nth-child(16):hover,{
	transform: scale(1.1) translate(4%);
}

.infograhics-item:nth-child(3):hover,
.infograhics-item:nth-child(7):hover,
.infograhics-item:nth-child(9):hover,
.infograhics-item:nth-child(11):hover,
.infograhics-item:nth-child(15):hover,
.infograhics-item:nth-child(18):hover{
	transform: scale(1.1) translate(-4%);
}


.infograhics-item__img {
	border-radius: 4px;
	border: 1px solid #66696a;
	padding: 5px;
	width: 100%;
	height: 100%;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

@media(max-width: 1920px){
    
}

@media(max-width: 1440px){
    
}

@media(max-width: 1200px){
    
}

@media(max-width: 1024px){
    
}

@media(max-width: 768px){
	.infograhics-item{
		height: 150px;

		&--hx2{
			height: 300px;

			&.infograhics-item--top-shift{
				margin-top: -150px;
			}
		}
	}
    
}