
.sale {
	background-color: white;
}
.sale__inner {
	padding: 170px 120px;
	display: flex;
	justify-content: space-between;

}
.sale__text {
	width: 42%;
	color: #7f7f7f;
	h1{
		line-height: 120%;
		font-weight: 400;
		margin: 30px 0 20px;
		font-size: 30px;
	}

	p{
		line-height: 130%;
		font-size: 22px;
	}
}
.sale__img {
	width: 53%;
	flex-shrink: 0;
	margin-top: 10px;
	margin-bottom: 40px;
}


@media(max-width: 1920px){
    
}

@media(max-width: 1440px){
    .sale__text{
		h1{
			font-size: 28px;
		}
		p{
			font-size: 18px;
		}
	}
}

@media(max-width: 1200px){
    .sale__inner{
		padding-top: 100px;
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media(max-width: 1024px){
    
}

@media(max-width: 800px){
    .sale__img{
		display: none;
	}
	.sale__text{
		width: 100%;
	}
}

@media(max-width: 768px){
    
}

@media(max-width: 400px){
    .sale__inner{
		padding-top: 20px;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}
}