.hero {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.hero--main {
  -webkit-box-align: center;
          align-items: center;
  padding: 0 30px;
}

.hero__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  z-index: 1;
  padding: 20px;
  line-height: 150%;
  text-align: center;
}

.hero__inner--main {
  font-size: 200%;
  border-top: 2px solid #ff5c4b;
  border-bottom: 2px solid #ff5c4b;
  font-family: 'Xenia';
  width: 100%;
  text-transform: uppercase;
}

.hero__inner--main > * {
  max-width: 1000px;
}

.hero__inner--main .title {
  line-height: 110%;
  font-size: 400%;
}

.hero__inner--consult .title {
  font-size: 450%;
  line-height: 140%;
  margin-bottom: 30px;
}

.hero__inner--consult p {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}

.hero__inner--consult .btn {
  margin-top: 60px;
  background-color: #ff5c4b;
  color: white;
}

.hero__inner--consult-inner {
  padding: 50px;
  padding-top: 10%;
}

.hero__inner--consult-inner .title {
  font-size: 300%;
  line-height: 140%;
  margin-bottom: 30px;
}

.hero__inner--about {
  font-size: 200%;
  text-transform: uppercase;
}

.hero__inner--about .btn {
  margin-top: 30px;
  font-size: 22px;
  color: white;
  background-color: #ff5c4b;
}

.hero-services {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  width: 100%;
  margin-top: 50px;
}

.hero-services__item {
  width: 33.33%;
}

.hero-service {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hero-service:hover {
  background: rgba(0, 0, 0, 0.7);
}

.hero-service__row {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 110%;
  margin-bottom: 10px;
}

.hero-service__title {
  font-weight: 500;
  margin-right: 10px;
}

.hero-service__btn {
  margin-top: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hero-service:hover .hero-service__btn {
  opacity: 1;
}

.hero-search {
  color: #fff;
  padding: 140px 5% 110px;
  text-align: center;
  position: relative;
}

.hero-search .image-fallback {
  z-index: -1;
  top: 0;
}

.hero-search__title {
  font-size: 400%;
  margin-bottom: 60px;
}

.hero-search__title.title {
  color: white;
}

.search-field {
  width: 60%;
  position: relative;
  margin: auto;
  line-height: 48px;
  height: 48px;
}

.search-field__input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 14px;
  color: #fff;
  border: 1px solid white;
  border-radius: 7px;
  background-color: transparent;
  text-align: left;
  outline: none;
  font-size: 130%;
  padding-left: 150px;
  padding-right: 140px;
  z-index: 1;
}

.search-field__placeholder {
  position: absolute;
  left: 14px;
  opacity: .5;
  font-size: 130%;
  z-index: 0;
}

.search-field__reset {
  z-index: 1;
  position: absolute;
  right: 100px;
  top: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  outline: none;
  background: url(../images/clear-ico.png) no-repeat 50% 50%;
  border: none;
}

.search-field__submit {
  z-index: 1;
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;
  line-height: 48px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 120%;
  padding-left: 15px;
  border-left: 1px solid #fff;
}

#hero-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 1440px) {
  .hero__inner--main.hero__inner {
    font-size: 150%;
  }
}

@media (max-width: 1200px) {
  .hero-service__row {
    font-size: 90%;
  }

  .hero-services__item {
    width: 40%;
  }

  .hero__inner {
    padding: 20px;
  }

  .hero__inner--about {
    font-size: 150%;
  }
}

@media (max-width: 1024px) {
  .hero-search__title {
    font-size: 300%;
  }

  .hero__inner--about {
    font-size: 120%;
  }

  .hero-services__item {
    width: 50%;
  }

  .hero__inner--consult-inner {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .hero__inner {
    font-size: 100%;
    left: 10px;
    right: 10px;
  }

  .hero__inner .title {
    font-size: 250%;
  }

  .hero-search__title {
    font-size: 200%;
  }

  .search-field {
    width: 100%;
  }

  .search-field__placeholder {
    font-size: 100%;
  }

  .search-field__input {
    padding: 0;
    padding-left: 120px;
    font-size: 110%;
    padding-right: 40px;
  }

  .search-field__reset {
    right: 0;
  }

  .search-field__submit {
    display: none;
  }

  .hero-services__item {
    width: 100%;
  }

  .hero__inner--main.hero__inner {
    font-size: 90%;
  }

  .hero--main {
    padding: 0 5px;
  }

  .hero__inner--about {
    padding-top: 90px;
  }

  .hero__inner--about .title {
    font-size: 110%;
  }
}