.page-form {
  display: -webkit-box;
  display: flex;
}

.page-form .btn {
  cursor: pointer;
  margin: 0;
  align-self: flex-start;
  width: 186px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.25rem;
  height: 56px;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin-right: 1.4375rem;
  margin-bottom: 1.25rem;
  font-size: 18px;
  color: #fff;
  min-width: 270px;
}

.select-box__current {
  cursor: pointer;
  position: relative;
  outline: none;
  border-radius: .5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.51);
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 1.4375rem;
  padding-right: 1.4375rem;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.select-box__current:hover {
  border-color: #fff;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  border-top: 9px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: 50%;
  right: 23px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.select-box__value {
  display: -webkit-box;
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0 !important;
  font-size: 1.25rem !important;
  line-height: 100% !important;
  text-transform: uppercase;
}

.select-box__list {
  border: 0.0625rem solid rgba(255, 255, 255, 0.51);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .5rem;
  max-height: 250px;
  position: absolute;
  width: 100%;
  padding: 7px 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__list li:first-child .select-box__option {
  color: #fff !important;
  border-bottom: 1px solid #e5e5e5;
  background-color: #76b8b2;
}

.select-box__option {
  display: block;
  color: #333;
  height: auto;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 4px;
  padding: 0px 50px;
}

.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #76b8b2;
  color: #fff !important;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .page-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}