.team{
    overflow: hidden;
}
.team .page_desktop{
    display: block;
}
.team .page_mobile{
    display: none;
}

.team__slider{
    position: relative;
}
.team__slide-inner{
    justify-content: center;
}
.team__inner{
    padding-bottom: 0;
}

.team__title{
    position: relative;
    font-size: 300%;
}

.slick-next,
.slick-prev{
    z-index: 10;
}
.team__slider::before,
.team__slider:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100px;
}
.team__slider::before{
    left: 50px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));

   
}
.team__slider::after{
    right: 48px;
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    background: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}

.team-member{
    width: 16.6%;
    max-width: 246px;
    max-height: 229px;
}

.hero__inner--about{
    font-size: 135%;
    .white{
        line-height: 150%;
        @media (max-width: 1000px){
            line-height: 1.1;
            font-size: 22px;
        }
        @media (max-width: 500px){
            line-height: 1.2em;
            font-size: 17px;
        }
        @media (max-width: 420px){
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 1566px){
    .slick-next{
        right: 55px;
    }
    .slick-prev{
        left: 55px;
    }
   
}
@media screen and (max-width: 1280px){
    .team-member{
        width: 25%;
    }
    .team__slider::after{
        right: 48px;
    }
    .slick-initialized .slick-slide.slick-active{
        opacity: 1;
    }

}
@media screen and (max-width: 1024px){
    .team__slider::before{
        left: 0;
    }
    .team__slider::after{
        right: 0;
    }
    .team__slider::before, .team__slider:after{
        width: 120px;
    }
    .team .slick-list{
        overflow: inherit;
    }
}
@media screen and (max-width: 992px){
    .team-member{
        width: 25%;
    }

}
@media screen and (max-width: 769px){
    .team-member{
        width: 50%;
    }

}
@media screen and (max-width: 600px){
    .team-member{
        width: 100%;
    }
    .team .page_desktop{
        display: none;
    }
    .team .page_mobile{
        display: block;
    }

}
@media screen and (max-width: 468px){
   
    .slick-prev{
        left: 20px;
    }
    .slick-next{
        right: 20px;
    }
}