.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* padding: 20px 30px 0; */
    padding: 15px 30px;
    z-index: 100;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__left,
.header__right {
    flex-shrink: 0;
    width: 100%;
    max-width: 305px;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__mid {
    display: flex;
    align-items: center;

    nav {
        display: block;
    }
}

.header__nav {
    display: flex;

    a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 0 10px;
    }
}

.header-options {
    display: flex;

    a {
        text-decoration: none;
        color: white;
        display: block;
        margin-right: 20px;
    }
}

.header-option {
    padding-left: 26px;
    position: relative;
    font-size: 14px;

    &:last-child {
        margin-right: 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &--geo::after {
        height: 25px;
        background-image: url(../images/geo-ico.svg);
    }

    &--search::after {
        width: 22px;
        background-image: url(../images/search-ico.svg);
    }

    &--lang::after {
        background-image: url(../images/lang-ico.svg);
    }
}

.header.sticky, .header.orange-forever{
    background: #ff5c4b;

    & .logo {
        background: url(../images/logo-white.svg) no-repeat 0 0/100% auto;
    }
}

.header.orange-forever{
    position: static;
}



@media(max-width: 1920px) {}

@media(max-width: 1440px) {
    .header__nav {
        font-size: 14px;
    }

    .header-option {
        font-size: 12px;
    }
}

@media(max-width: 1280px) {

    .header__left,
    .header__right {
        max-width: 270px;
    }

    .header__nav {
        transition: all .3s ease;
        transform: translateX(100%);
        position: fixed;
        padding: 60px 5px 40px;
        height: 100%;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.8);
        right: 0;
        top: 0;
        max-width: 100%;
        width: 100%;
        flex-wrap: wrap;
        font-size: 32px;

        li {
            display: flex;
            align-items: center;
            width: 50%;
            padding: 6px;
        }

        a {
            background: #3faca6;
            // display: block;
            width: 100%;
            height: 100%;
            padding: 15px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 120%;
        }
    }

    .header__nav.active {
        display: flex;
    }

    .menu-btn-mobile {
        // display: none;
        width: 22px;
        height: 22px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        z-index: 101;
        flex-shrink: 0;
        margin-left: 20px;
    }

    .menu-btn-mobile:hover {
        opacity: .8
    }

    .menu-btn-mobile span {
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        height: 2px;
        background: #fff;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out
    }

    .menu-btn-mobile span.top {
        top: 0
    }

    .menu-btn-mobile span.bottom {
        top: 19px
    }

    .menu-btn-mobile.active .top,
    .menu-btn-mobile.active .middle {
        top: 0;
        left: 2px;
        width: 28px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .menu-btn-mobile.active .bottom {
        top: 20px;
        width: 28px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .header__nav.active {


        transform: translateX(0%);


    }


}

@media(max-width: 1024px) {
    .header__nav {
        font-size: 28px;

        a{
            font-size: 100%;
        }
    }
}

@media(max-width: 768px) {
    .header-options {
        display: none;
    }

    .header__left,
    .header__right {
        max-width: none;
        width: auto;
    }

    .header {
        padding: 15px;
    }

    .header__nav {
        font-size: 24px;
    }


}

@media(max-width: 568px){
    .header__nav{
        font-size: 16px;
    }
}