.slick-initialized .slick-slide{
    padding: 0 5px;
}
.search-field__input{
    padding-left: 15px;
    &::placeholder {
        color: #fff;
        position: absolute;
        // left: -137px;
        left: 0px;
        opacity: .5;
        font-size: 100%;
        z-index: 0;
      }
}
.anchors{
    position: relative;
    top: -50px;
}
.articles-slide__btn.close{
    position: relative;
    bottom: 0;
}
.numpages{
    text-align: center;
    font-size: 28px;
    line-height: 43px;
    margin: 30px 0 20px;
    color: #8d8d8d;
    .modern-page-first{
        &.active{
            display: inline-block;
            color: #5d5d5d;
            padding: 0 10px;
            border: 2px solid #ff5c4b;
            border-radius: 4px;
        }
    }
    a{
        display: inline-block;
        text-decoration: none;
        color: inherit;
        padding: 0 10px;
        border: 2px solid #fff;
        border-radius: 4px;
        &.nx{

        }
    }
}