// here is ma boi
// here is ma boi
// here is ma boi
// here is ma boi
// here is ma boi

@import 'fonts';
@import 'slick';
@import 'simpleLightbox.min';
@import 'reset';
@import 'header';
@import 'footer';
@import 'popup';
@import 'sections/hero';
@import 'sections/mainGrid';
@import 'sections/sliders/sliders';
@import 'sections/event';
@import 'sections/infographics';
@import 'sections/sale';
@import 'sections/sliders/steps';

// .container {
//     padding: 0 2rem;
//     max-width: 120rem;
//     width: 100%;
//     margin: auto;
// }

input {
    font: 300 16px/22px 'Roboto', Arial, sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    font-family: 'Roboto', Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #fff;
    line-height: 1.4;
    color: #2e2e2e;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.contrast-view {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: 50% 50%;
        // background: url(../images/bg-video.png);
        background: linear-gradient(90deg, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 50%) center center/3px;

    }
}

.fixed-view {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
    }
}





.logo {
    display: block;
    width: 243px;
    height: 65px;
    background: url(../images/logo.svg) no-repeat 0 0/100% auto;
}

.title {
    font-family: 'Xenia', 'Roboto Slab', "Times New Roman", Times, serif;
    text-transform: uppercase;
    text-align: center;
}

.white {
    color: #fff;
}

.red {
    color: #ff5c4b;
}

.section-title {
    background: white;
    color: white;
    text-align: center;
    padding: 30px 5%;

    &--red {
        background: #ff5c4b;

        & .section-title__title {
            a {
                color: white;
            }
        }

        & .section-title__desc {
            color: white;
        }
    }

    &--transparent {
        background: transparent;
        padding: 90px 5% 70px;

        & .section-title__title {
            a {
                color: #fff;
            }
        }

        & .section-title__desc {
            color: #ff5c4b;
        }
    }
}

.section-title__title {
    color: #ff5c4b;
    font-size: 550%;
    margin-bottom: 20px;


    a {
        text-decoration: none;
        color: #ff5c4b;
    }
}

.section-title__desc {
    margin-bottom: 20px;
    font-size: 22px;
    left: 32px;
    color: #000;
}


.btn {
    display: inline-block;
    border: 1px solid #ff5c4b;
    text-decoration: none;
    font-size: 120%;
    line-height: 2em;
    color: inherit;
    padding: 0 25px;
    border-radius: 4px;
    transition: all .3s ease;
    word-wrap: none;

    &:hover {
        color: #fff;
        background: #ff5c4b;
    }
}

.clearfix {
    overflow: auto;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.counter {
    width: 92px;
    position: relative;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;

    &>* {
        outline: none;
    }

    input {
        color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        background: none;
        left: 0;
        top: 0;
        border: 1px solid white;
        padding-right: 45px;
        text-align: center;
    }
}

.counter__minus {
    position: absolute;
    width: 45px;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: 1;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);

    &::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        background-image: url('../images/ar.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        transform: rotate(180deg);
    }


}

.counter__plus {
    position: absolute;
    width: 45px;
    height: 50%;
    right: 0;
    top: 0;
    z-index: 1;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid white;

    &::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        background-image: url('../images/ar.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }
}

.video-about {
    background: #ff5c4b;
    position: relative;
    text-align: center;
    padding: 150px 20px 50px;
    color: #fff;
    // height: 540px;

    iframe {
        width: 100%;
        height: 540px;
    }
}

.video-about__inner {
    // height: 100%;
    // width: 100%;
    // position: absolute;
    max-width: 1000px;
    margin: auto;
}

.image-fallback {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe,
.youtube-player object,
.youtube-player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}

@media(max-width: 1920px) {
    body {
        // font-size: 22px;
        // line-height: 32px;
    }

    p {
        font-size: 22px;
        line-height: 32px;
    }

}

@media(max-width: 1440px) {}

@media(max-width: 1200px) {
    .section-title__title {
        font-size: 400%;
    }
}

@media(max-width: 1024px) {
    p {
        line-height: 20px;
        font-size: 16px;
    }

    .articles {
        padding: 50px 2%;
    }

    .articles-slider {
        padding: 0 50px;
    }
}

@media(max-width: 768px) {
    .logo {
        width: 185px;
        height: 48px;
    }

    .section-title__title {
        font-size: 200%;
    }

    .section-title__desc {
        font-size: 18px;
    }

    p {
        line-height: 20px;
        font-size: 16px;
    }

}

@media(max-width: 400px) {
    .title {
        font-size: 150%;
    }

    .section-title__title {
        font-size: 200%;
    }

    .btn {
        font-size: 100%;
        text-align: center;
    }

}


@media print {
    body * {
        color: black !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
        padding: 0 !important;

        .title {
            font-size: 24px;
            text-align: left;
        }

        .slick-track {
            width: 100% !important;
            transform: none !important;
        }
    }

    .header,
    .footer,
    form,
    .btn,
    .footer-sub,
    .hero-search__title {
        display: none !important;
    }
}