.popup-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

.popup-form .inner {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(139, 121, 146, 1);
}

.popup-form .inner .popup-title {
    padding: 16px;
    background: #F5F5F5;
    border-bottom: 1px solid #E1E1E1;
}

.popup-form .inner .popup-text {
    text-align: center;
    padding: 30px 80px;
    font-size: 18px;
}

.popup-form .inner .popup-footer {
    padding: 16px;
    background: #F5F5F5;
    border-top: 1px solid #E1E1E1;
    display: flex;
    justify-content: flex-end;
}

.popup-form .inner .popup-footer .popup-close {
    display: inline-block;
    padding: 8px 16px;
    background: #ff5c4b;
    color: #fff;
    border-radius: 4px;
}

@media (max-width: 468px) {
    .big h1 {
        font-size: 30px !important;
        line-height: 1 !important
    }
}

.a-popup-block {
    display: none
}

.popup-footer.popup-footer-margin-fix {
    margin: 30px -80px -80px;
}

.a-popup-close {
    background-color: #c1c1c1 !important;
    margin-right: 5px;
    cursor: pointer;
}

.popup-close {
    border: none
}

.popup-form.red {
    background: #ff5c4b;
    color: #fff
}

.popup-form .inner {
    overflow: hidden;
    position: relative
}

.popup-form .close {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 53px;
    height: 53px;
    background: url("../images/close.png") no-repeat;
    cursor: pointer;
    z-index: 1
}

.popup-form.red .close {
    background-image: url("../images/close-white.png")
}

.popup-form .title {
    font-family: 'Xenia';
    font-size: 200%;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 100px 10% 50px
}

.popup-form .title.big {
    font-size: 400%
}

.popup-form .title::-moz-selection {
    color: #ff5c4b
}

.popup-form .title::selection {
    color: #ff5c4b
}

.popup-form .descr {
    color: #696969;
    font-size: 200%;
    line-height: 1.2em;
    margin: 0 0 40px
}

.popup-form form {
    width: 850px;
    margin: 0 auto 50px
}


.popup-form .row {
    margin-bottom: 28px
}

.popup-form .row.left {
    float: left
}

.popup-form .row.right {
    margin-left: 432px
}

.popup-form .row.left input,
.popup-form .row.right input {
    width: 359px
}

.popup-form input,
.popup-form textarea {
    text-transform: uppercase;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.popup-form .text input,
.popup-form textarea {
    border: 2px solid #a4a4a4;
    height: 60px;
    width: 790px;
    padding: 0 25px
}

.popup-form textarea {
    resize: none;
    padding: 10px 25px;
    height: 90px
}

.popup-form .submit input {
    border: 2px solid #ff5c4b;
    height: 60px;
    width: 790px;
    padding: 0 25px;
    text-align: center;
    color: #a4a4a4;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.popup-form .submit input:hover {
    background: #ff5c4b;
    color: #fff
}

.popup-form .soc-title {
    font-size: 150%;
    margin: 0 0 40px;
    color: #696969
}

.popup-form .btn a {
    border: 2px solid #ff5c4b
}

.popup-form#geo {
    background-image: url("../images/geo-bg.png");
    background-position: 50% 30%;
    background-repeat: no-repeat
}