.page-form {
    display: flex;
    .btn{
        cursor: pointer;
        margin: 0;
        align-self: flex-start;
        width: 186px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.25rem;
        height: 56px;
    }
    @media (max-width: 992px) {
        flex-direction: column;
      }
}
.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin-right: 1.4375rem;
    margin-bottom: 1.25rem;
    font-size: 18px;
    color: #fff;
    min-width: 270px;
    &__current {
        cursor: pointer;
        position: relative;
        outline: none;
        border-radius: .5rem;
        border: .0625rem solid rgba(255, 255, 255, 0.51);
        background-color: rgba(255, 255, 255, 0.2);
        padding-left: 1.4375rem;
        padding-right: 1.4375rem;
        padding-top: .9375rem;
        padding-bottom: .9375rem;
        box-sizing: border-box;
        font-size: 1.25rem;
        margin-bottom: 16px;
        &:hover{
            border-color: #fff;
        }
        &:focus {
        & + .select-box__list {
            opacity: 1;
            animation-name: none;
            .select-box__option {
            cursor: pointer;
            }

        } 
        .select-box__icon{
            transform: translateY(-50%) rotate(180deg);
        }
    }
    }
    &__icon {
        border-top: 9px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: 23px;
        transform: translateY(-50%);
        width: 17px;
        transition: 0.2s ease;
    }
    &__value {
        display: flex;
    }
    &__input {
        display: none;
        
        &:checked + .select-box__input-text {
          display: block;
        }
        &-text {
            display: none;
            width: 100%;
            margin: 0 !important;
            font-size: 1.25rem !important;
            line-height: 100% !important;
            text-transform: uppercase;
            
          }
    }
    &__list {
        border: .0625rem solid rgba(255, 255, 255, 0.51);
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: .5rem;
        max-height: 250px;
        position: absolute;
        width: 100%;
        padding: 7px 0;
        list-style: none;
        opacity: 0;
        
        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        li:first-child{
            .select-box__option{
                color: #fff !important;
                border-bottom: 1px solid #e5e5e5;
                background-color: #76b8b2;
            }
            
        }
    }
    &__option {
        display: block;
        color: #333;
        height: auto;
        font-size: 20px;
        line-height: normal;
        margin-bottom: 4px;
        padding: 0px 50px;
        &:hover,
        &:focus {
          color: #546c84;
          background-color: #76b8b2;
          color: #fff !important;
        }
    }
  @media (min-width: 768px) {
    width: 70%;
  }
  
  @media (min-width: 992px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 30%;
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}